.catalog {
  margin: 0 0 80px 0;
}

.catalog__order {
  margin: 0 0 30px 0;
  min-height: 48px;
}

.catalog__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  margin: 0 0 16px 0;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 145px);
  gap: 10px;
}

@media (min-width: 1024px) {

  .catalog {
    margin: 0 0 100px 0;
  }
  .catalog__container {
    display: flex;
    gap: 30px;
  }

  .catalog__order {
    padding: 72px 0 0 0;
  }

  .catalog__title {
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 24px 0;
  }

  .catalog__wrapper {
    flex: 1 0 auto;
  }
  .catalog__list {
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 30px;
  }
}