.order {
  position: relative;
}

.order__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  padding: 16px 10px;
}

.order__wrap-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

.order__wrap-title:focus-visible::after {
  content: '';
  position: absolute;
  outline: 3px solid #FFAB08;
  inset: 0;
  border-radius: 12px;
  pointer-events: none;
}

.order__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
}

.order__count {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  width: 32px;
  height: 16px;
  background: #F2F2F3;
  border-radius: 6px;
}

.order__wrap-list {
  display: none;
}

.order__open .order__wrap-list {
  display: block;
}

.order__open .order__wrap-title {
  margin: 0 0 8px 0;
}

.order__wrap-list {

}
.order__list {
  margin: 0 0 13px 0;
}

.order__item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 0;
  border-bottom: 1px solid #F2F2F3;
}

.order__item:first-child {
  border-top: 1px solid #F2F2F3;
}

.order__image {
  width: 64px;
  height: 52px;
  object-fit: cover;
  border-radius: 8px;
}


.order__product {
  flex: 1 0 auto;
  font-size: 12px;
  line-height: 16px;
}

.order__product-title {
  font-weight: 400;
  margin: 0 0 1px 0;

}

.order__product-weight {
  color: #B1B1B1;
  margin: 0 0 6px 0;
}

.order__product-price {

}

.order__product-count {

}

.order__total {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  margin: 0 0 19px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order__submit {
  background: #FF7020;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #FFFFFF;
  padding: 9px;
  width: 100%;
  margin: 0 0 8px 0;
}

.order__wrap-appeal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order__appeal {
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  padding: 0 0 0 32px;
  background: url("../img/delivery.png") left/24px no-repeat ;
}

.order__close {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;  
  color: #B1B1B1;

}

@media (min-width: 768px) {
  .order {
    width: 145px;
    transition: width .3s ease;
  }

  .order.order__open {
    width: 300px;
  }
}

@media (min-width: 1024px) {

  .order {
    width: 300px;
  }
  .order__wrapper {
    position: unset;
  }

  .order__wrap-title {
    margin: 0 0 12px 0;
  }

  .order__title {
    font-size: 24px;
  }

  .order__count {
    width: 41px;
    height: 20px;
    font-size: 12px;
  }

  .order__item {
    padding: 15px 0;
  }

  .order__total {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .order__submit {
    height: 40px;
    padding: 11px;
    border-radius: 12px;
    font-size: 16px;
    margin: 0 0 8px 0;

  }

  .order__wrap-list {
    display: block;
    margin: 0 0 16px 0;
  }

  .order__appeal {
    font-size: 12px;
  }

  .order__close {
    display: none;
  }
}